#header {
    margin: auto;
}
.menu-desp{
    background-color: #CFA0F3;
    text-align: center;
    font-size: 1.2em;

}
ul {
    list-style: none;
}

.nav li a{
    background-color: #CFA0F3;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    /*width: 150px;*/
}

.nav li a:hover {
    background-color: #B486E1;
}
.nav > li {
    float: left;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }

.nav li:hover > ul {
    display:block;
   }

.nav li ul li {
    position:relative;
   }

.nav li ul li ul {
    right:-140px;
    top:0px;
   }

   /*Fin menú desplegable*/
